html {
    font-family: 'Inter', sans-serif;
    font-size: 62.5%;
    padding: 0 0 0 20px;
}

h1 {
    font-size: 3rem;
    font-weight: 800;
    padding: 20px 0 20px 0;
}

h2 {
    font-size: 2.5rem;
    font-weight: 600;
    padding: 20px 0 20px 0;
}

h3 {
    font-size: 2rem;
    font-weight: 400;
    padding: 20px 0 20px 0;
}

p {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
}

ul {
    margin-top: 20px;
    margin-bottom: 20px;
}

li {
    list-style:disc ;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 10px;
    margin-left: 40px;
}

img {
    margin-bottom: 20px;
    margin-left: 10px;
}
