* {
    text-decoration: none;
    behavior: smooth;
}

html {
    font-family: 'Work Sans', sans-serif;
    font-size: 62.5%;
    box-sizing: border-box;
    width: 100%;
}

/* Header */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 0 0;
    background-color: white;
    border-bottom: 1px solid #6699cc;
}

.logo>img {
    width: 10%;
}

.logo img, nav {
    margin: 10px 0 10px 0;
}

nav {
    font-size: 1.4rem;
}

nav>a {
    margin-left: 10px;
}

a {
    color: #6699cc;
    font-weight: 400;
}

/* Banner Hero e texto */

.bg-hero {
    background-image: url(/img/bg-hero.svg);
    width: 100%;
    background-size: cover;
    height: 580px;
}

.hero-banner>h1 {
    text-align: center;
    padding: 160px 0;
    font-size: 4rem;
    font-weight: 800;
    margin: 0px 200px 0 200px;
    color: white;
    align-items: center;
}

/* Beneficios */

.slogan-beneficio {
    text-align: center;
    font-size: 4rem;
    font-weight: 800;
    margin: 120px 0;
    color: #6699cc;
    align-items: center;
}

.beneficios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px 50px 10px 50px;
    color: #fff;
}

.beneficio {
    border-radius: 10px;
    background-color: white;
    margin-left: 30px;
    border: 1px solid #6699cc;
    width: 25%;
    padding: 50px 20px;
    /* box-shadow: 0px 4px 18px #0c0c0c; */
    transform: scale(1,1);
    transition: 1.3s;
}

.beneficio:hover {
    transform: scale(1.1,1.1);
    background-color: #6699cc;
    color: #fff;
}

.beneficio:hover h2 {
    color: #fff;

}
.beneficio:hover p {
    color: #fff;
}


.beneficio i {
    color: #6699cc;
    font-size: 1.6rem;
    background-color: #EDDFB3;
    border-radius: 50%;
    padding: 10px;
}

.beneficio h2 {
    color: #6699cc;
    font-size: 1.7rem;
    font-weight: 700;
    margin: 10px 0;
    transition: 1s;
}

.beneficio p {
    color: #6699cc;
    font-size: 1.4rem;
    margin: 10px 0;
    line-height: 22px;
    transition: 1s;
}


/* Seção Contato */

.contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(/img/bg-hero-inv.svg);
    width: 100%;
    background-size: cover;
    height: 900px;
    padding: 50px;
}

.contato h1 {
    color: white;
    text-align: center;
    font-size: 4rem;
    font-weight: 800;
    margin-top: 100px;
}

.contato h2 {
    color: white;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 300;
    margin-top: 20px;
}

.contato-texto {
    width: 100%;
    padding: 50px;
    margin-top: 200px;
}

.form {
    width: 100%;
    overflow: hidden;
    height: 650px;

}

/* Rodapé */

footer {
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer>img {
    max-width: 6em;
    text-align: center;
    margin-bottom: 10px;
}

footer>p {
    margin-bottom: 10px;
}

.legal {
    color: black;
}