* {
  text-decoration: none;
}

html {
  font-family: "Work Sans", sans-serif;
  font-size: 62.5%;
  box-sizing: border-box;
  margin: 0px;
  height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  height: 100%;
  width: 100%;
}

html,
body {
  scroll-behavior: smooth;
}

/* Header */

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0 0 0;
  background-color: white;
  border-bottom: 1px solid #6699cc;
}

.logo > img {
  width: 4.5em;
}

.logo img,
nav {
  margin: 10px 0 10px 0;
}

nav {
  font-size: 1.4rem;
  margin-bottom: 14px;
}

nav > a {
  margin-left: 10px;
  padding: 10px;
  transition: 0.5s;
}

a {
  color: #6699cc;
  font-weight: 400;
}

nav a:hover {
  background-color: #6699cc;
  border-radius: 5px;
  color: #fff;
}

/* Banner Hero e texto */

.bg-hero {
  background-image: url(../img/banner-space.svg);
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 50%;
  height: 1200px;
}

/* Beneficios */

.cta-inicio {
  width: 100%;
  background-color: #28186a;
  padding: 20px 0;
}

.slogan-beneficio {
  width: 65%;
  gap: 100px;
  justify-content: center;
  display: flex;
  margin: 60px auto;
  align-items: center;
}

.slogan-beneficio h1 {
  font-size: 4rem;
  font-weight: 800;
  color: #ffffff;
  width: 50%;
}

.slogan-beneficio a {
  font-family: "Work Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: #28186a;
  transition: 0.5s ease-in-out;
}

.slogan-beneficio button {
  background-color: #fff;
  border: transparent;
  border-radius: 10px;
  margin: 20px;
  padding: 20px 25px;
  cursor: pointer;
  transform: scale(1, 1);
  transition: 0.5s ease-in-out;
}

.slogan-beneficio button:hover {
  background-color: #fff;
  transform: scale(1.1, 1.1);
}

.slogan-beneficio a:hover {
  color: #28186a;
}

.subtitulo {
  text-align: center;
  font-size: 4rem;
  font-weight: 800;
  margin: 65px 0 20px 0;
  color: #6699cc;
  align-items: center;
}

.carrossel {
  background-color: #28186a;
  padding: 20px 0;
}

.beneficios {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px 50px 150px 50px;
  color: #fff;
}

.beneficio {
  border-radius: 10px;
  background-color: white;
  margin-left: 30px;
  border: 1px solid #6699cc;
  width: 25%;
  padding: 50px 20px;
  /* box-shadow: 0px 4px 18px #0c0c0c; */
  transform: scale(1, 1);
  transition: 1.3s;
}

.beneficio:hover {
  transform: scale(1.1, 1.1);
  background-color: #6699cc;
  color: #fff;
}

.beneficio:hover h2 {
  color: #fff;
}
.beneficio:hover p {
  color: #fff;
}

.beneficio h2 {
  color: #6699cc;
  font-size: 1.7rem;
  font-weight: 700;
  margin: 10px 0;
  transition: 1s;
}

.beneficio p {
  color: #6699cc;
  font-size: 1.4rem;
  margin: 10px 0;
  line-height: 22px;
  transition: 1s;
}

/* Seção Sites */

.slider {
  padding: 0;
  margin: 0 auto;
  width: 800px;
  height: 400px;
  overflow: hidden;
}

.texto-slider {
  text-align: center;
  font-size: 4rem;
  font-weight: 800;
  margin: 54px 60px 60px;
  color: #6699cc;
}

.slides {
  width: 400%;
  height: 400px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 25%;
  position: relative;
  transition: 2s;
}

.slide-first {
  transition: 2s;
}

.slide img {
  width: 800px;
}

.slide-first img {
  width: 800px;
}

.manual-navigation {
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid #000000;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background-color: #fff;
}

#radio1:checked ~ .slide-first {
  margin-left: 0;
}

#radio2:checked ~ .slide-first {
  margin-left: -25%;
}

#radio3:checked ~ .slide-first {
  margin-left: -50%;
}

#radio4:checked ~ .slide-first {
  margin-left: -75%;
}

#radio5:checked ~ .slide-first {
  margin-left: -100%;
}

#radio6:checked ~ .slide-first {
  margin-left: -125%;
}

.navigation-auto div {
  border: 2px solid #fff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.navigation-auto {
  position: absolute;
  width: 800px;
  margin-top: 360px;
  display: flex;
  justify-content: center;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background-color: #6699cc;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background-color: #6699cc;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background-color: #6699cc;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
  background-color: #6699cc;
}

#radio5:checked ~ .navigation-auto .auto-btn5 {
  background-color: #6699cc;
}

#radio6:checked ~ .navigation-auto .auto-btn6 {
  background-color: #6699cc;
}

.botao-cta {
  margin-top: 80px;
  margin-bottom: 80px;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-in-out;
  transform: scale(1, 1);
}

.texto-botao-cta {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  background-color: #fff;
  color: #28186a;
  border: transparent;
  padding: 20px 25px;
  border-radius: 10px;
  cursor: pointer;
  transform: scale(1, 1);
  transition: 0.5s ease-in-out;
}

.texto-botao-cta:hover {
  transform: scale(1.1, 1.1);
}

.botao-cta:hover {
  transform: scale(1.1, 1.1);
}

/* Seção Contato */

.contato {
  background: #fff;
  width: 100%;
  background-size: cover;
  background-position: center;
  height: 566px;
}

.contato h1 {
  color: #223367;
  text-align: center;
  font-size: 4rem;
  font-weight: 800;
  margin-top: 100px;
}

.contato h2 {
  color: #223367;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 300;
  margin-top: 20px;
}

.contato-texto {
  width: 100%;
  padding: 0 0 50px;
}

.form {
  width: 100%;
  overflow: hidden;
  height: 372px;
}

/* Rodapé */

footer {
  display: flex;
  background-color: #223367;
  padding: 30px 0;
  color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer > img {
  max-width: 6em;
  text-align: center;
  margin-bottom: 10px;
}

footer > p {
  margin-bottom: 10px;
}

.legal {
  color: black;
}

@media only screen and (max-width: 800px) {
  header {
    flex-direction: column;
  }

  .slogan-beneficio {
    width: 100%;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
  }
  .slogan-beneficio h1 {
    width: 90%;
    font-size: 2.5rem;
  }

  .beneficios {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto 60px;
    text-align: center;
  }
  .beneficio {
    width: 80%;
    margin: 20px auto;
  }

  .hero-banner > h1 {
    font-size: 3rem;
    padding: 50px;
    margin: 20px 0 20px 0;
  }
  .bg-hero {
    width: 100%;
    height: 60rem;
    overflow: hidden;
  }

  .subtitulo h2 {
    font-size: 2.5rem;
    margin-top: 0;
  }

  .texto-slider {
    font-size: 3rem;
    margin: 50px 0 50px 0;
  }
  .slider {
    width: 350px;
    height: 250px;
  }
  .slides {
    width: 131%;
  }
  .slide {
    width: 450px;
    height: 300px;
  }
  .slide-first img {
    width: 450px;
    height: 300px;
  }
  .slide img {
    width: 450px;
    height: 300px;
  }
  .navigation-auto {
    display: none;
  }
  .manual-navigation {
    display: none;
  }
  #radio1:checked ~ .slide-first {
    margin-left: 0;
  }

  #radio2:checked ~ .slide-first {
    margin-left: -100%;
  }

  #radio3:checked ~ .slide-first {
    margin-left: -200%;
  }

  #radio4:checked ~ .slide-first {
    margin-left: -300%;
  }

  #radio5:checked ~ .slide-first {
    margin-left: -400%;
  }

  #radio6:checked ~ .slide-first {
    margin-left: -500%;
  }

  .contato {
    height: 572px;
  }
  .contato-texto {
    margin-top: 60px;
  }
  .contato h1 {
    font-size: 2rem;
    margin: 0;
  }
  .contato h2 {
    margin: 20px 0;
    padding: 0 55px;
  }
  .form {
    background-color: #fff;
  }

  footer {
    width: 100%;
    top: 2900px;
    align-items: center;
    justify-content: center;
    background-color: #223367;
    padding-bottom: 20px;
  }
}
