html {
    font-family: 'Inter', sans-serif;
    font-size: 62.5%;
    padding: 0 0 0 20px;
}

body {
    background-color:#6699cc;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header nav {
    margin-right: 40px;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-left: 20px;
    font-size: 1.3rem;
}

header>img {
    width: 8%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
}

.destaque {
    max-width: 80%;
    margin-left: 0;
    margin-bottom: 30px;
    border-radius: 20px;
}

.chamada {
    margin-bottom: 30px;
    margin-top: 0;
}

.main-container {
    max-width: 1200px;
    margin-right: 20px;
    background-color: white;
    padding: 40px;
    border-radius: 20px;
}

h1 {
    font-size: 3rem;
    font-weight: 800;
}

h2 {
    font-size: 2.5rem;
    font-weight: 600;
}

h3 {
    font-size: 2rem;
    font-weight: 400;
}

h1, h2, h3 {
    color: #6699cc;
    margin-top: 40px;
}

h1,h2,h3,p {
    margin-bottom: 18px;
}

p {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 20px;
}

ul {
    margin-top: 20px;
    margin-bottom: 20px;
}

li {
    list-style: disc;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 10px;
    margin-left: 40px;
}

section img {
    margin-top: 0;
    margin-bottom: 20px;
}

section img :nth-child(2) {
    margin-top: 0;
    margin-bottom: 20px;
}

.meme {
    margin-bottom: -10px;
}

footer {
    margin: 20px 0;
    width: 100%;
    text-align: center;
}

.cognito-form {
    display: flex;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

@media only screen and (max-width: 600px) {
    body {
        text-align: center;
    }
    li {
        text-align: left;
    }
}