* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  max-width: 100%;
  min-height: 100vh;
  font-size: 62.5%;
  background-image: url(../img/swirl_pattern.png);
}

.container {
  width: 65%;
  margin: 0 auto;
}

header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 65%;
}

header {
  padding-top: 10px;
  background-color: #fff;
  border-bottom: 1px solid #6699cc;
  position: fixed;
  width: 100%;
}

nav a {
  text-decoration: none;
  color: #6699cc;
  font-size: 1.4em;
  margin-left: 25px;
}

.texto-blog {
  background-color: rgb(255, 255, 255);
  padding: 60px;
}

p {
  margin-bottom: 25px;
  font-size: 14px;
}

li {
  font-size: 15px;
  margin-left: 25px;
  margin-bottom: 15px;
}

ul {
  margin-bottom: 30px;
}

h2 {
  font-size: 24px;
  margin-top: 50px;
  margin-bottom: 20px;
}

h3 {
  font-size: 18px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.banner {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 100)),
    url(../img/destaque.jpg);
  width: 100%;
  text-align: center;
  height: 370px;
  background-size: cover;
}

.chamada {
  font-size: 38px;
  color: #fff;
  padding-top: 300px;
}

img {
  width: 40%;
  margin: 20px 0;
}

.logo {
  width: 50%;
  max-width: 130px;
}

.cognito-form {
  display: flex;
  width: 100%;
  background-color: #fff;
  justify-content: center;
  align-items: center;
}

#form {
  text-align: center;
}

.container .cognito-form {
  background-color: #fff;
}

footer {
  margin: 20px 0;
  width: 100%;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  body {
    text-align: center;
  }

  img {
    margin: 20px auto;
    width: 100%;
  }

  ul {
    text-align: left;
  }

  h2,
  h3 {
    margin-bottom: 20px;
  }

  p {
    margin-bottom: 25px;
  }

  .container {
    width: 90%;
  }

  header .container {
    flex-direction: column;
    width: 90%;
  }

  nav a {
    margin: 0;
    padding: 0 5px;
    font-size: 1.1em;
  }

  .chamada {
    font-size: 3em;
    padding-top: 250px;
    padding-left: 60px;
    padding-right: 60px;
  }

  .banner {
    background-size: contain;
  }

  .container-logo .logo {
    display: flex;
    margin: 20px auto;
  }

  nav {
    margin-bottom: 20px;
    font-size: 1.2em;
  }
}
